@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

.card {
  @apply grid grid-rows-2 rounded-2xl border-4 border-stone-800 py-4 bg-white h-full  w-full;
}

.image {
  @apply m-auto w-[6rem] lg:w-3/12 hover:scale-105 lg:hover:scale-110 cursor-pointer;
}

.info {
  @apply h-full w-full grid mt-2 items-start border-t-4 border-stone-800;
}

.spinner {
  animation: spin 3s 1 ease-in-out;
  -webkit-animation: spin 3s 1 ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
